body,div,p,span,ul,li,i{
	margin: 0;
	padding: 0;
	list-style: none;
	font-style: normal;
}
a{
	text-decoration: none;
}
.top{
	width: 100%;
	height: 100px;
	background-color: #BA97CF;
}
.topi{
	width: 1203px;
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
}
.lg{
	width: 211px;
	height:65px;
	background: url(../img/mushiwei/logo.jpg)no-repeat left center;
	padding-top: 15px;
	display: inline-block;
}
.topnav{
	width: 657px;
	height: 21px;
	float: right;
	line-height: 95px;
}
.topnav ul li{
	font-size: 14px;
	color: #fff;
	float: left;
	margin-left: 50px;
}
.news{
	width: 82px;
	height: 95px;
	border-bottom: 5px solid #9F51A9;
}
.news i{
	padding-left: 15px;
}
.wpap{
	width: 1920px;
	height: 616px;
	background: url(../img/mushiwei/wallpaper.jpg)no-repeat left center;
}



.maincons{
	width: 1100px;
	height: 140px;
	background: #B38DCA;
	margin: 0 auto;
	margin-top: 50px;
	overflow: hidden;
}
.maincons_left{
	width:783px;
	float: left;
}
.maincons_left>h3{
	margin-top: 10px;
	margin-bottom: 12px;
	font-weight: normal;
	color: #fff;
	letter-spacing: 2px;
	margin-left: 28px;
}
.maincons_left>hr{
	width: 754px;
	border: 1px dashed #fff;
	margin-left: 26px;
}
.maincons_left p{
	font-size: 13px;
	color: #fff;
	text-indent: 4em;
	margin-top: 11px;
	letter-spacing: 1px;
}
.maincons_right{
	width: 72px;
	height: 58px;
	border-left: 1px solid #fff;
	float: left;
	margin-left: 43px;
	margin-top: 39px;
}
.maincons_right>div{
	font-size: 42px;
	color: #E2D5EA;
	float: right;
	line-height: 40px;
}
.maincons_right>span{
	font-size: 12px;
	color: #D7C4E2;
	float: right;
	margin-right:5px; 
}
.cons1{
	width: 1053px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 24px;
}
.cons1_left{
	width:755px;
	float: left;
}
.cons1_left>h3{
	margin-top: 10px;
	margin-bottom: 12px;
	font-weight: normal;
	color: #363636;
	letter-spacing: 2px;
}
.cons1_left>hr{
	width: 754px;
	border: 1px dashed #D4D4D4;
}
.cons1_left p{
	width: 755px;
	font-size: 13px;
	color: #9E9E9E;
	margin-top: 11px;
	letter-spacing: 1px;
}
.cons1_right{
	width: 72px;
	height: 58px;
	border-left: 1px solid #D4D4D4;
	float: left;
	margin-left: 43px;
	margin-top: 39px;
}
.cons1_right>div{
	font-size: 42px;
	color: #D4D4D4;
	float: right;
	line-height: 40px;
}
.cons1_right>span{
	font-size: 12px;
	color: #D4D4D4;
	float: right;
	margin-right:5px; 
}
.cons2{
	width: 1053px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 66px;
}
.cons2_left{
	width:755px;
	float: left;
}
.cons2_left>h3{
	margin-top: 10px;
	margin-bottom: 12px;
	font-weight: normal;
	color: #363636;
	letter-spacing: 2px;
}
.cons2_left>hr{
	width: 754px;
	border: 1px dashed #D4D4D4;
}
.cons2_left p{
	width: 755px;
	font-size: 13px;
	color: #9E9E9E;
	margin-top: 11px;
	letter-spacing: 1px;
}
.cons2_right{
	width: 72px;
	height: 58px;
	border-left: 1px solid #D4D4D4;
	float: left;
	margin-left: 43px;
	margin-top: 39px;
}
.cons2_right>div{
	font-size: 42px;
	color: #D4D4D4;
	float: right;
	line-height: 40px;
}
.cons2_right>span{
	font-size: 12px;
	color: #D4D4D4;
	float: right;
	margin-right:5px; 
}
.cons3{
	width: 1053px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 69px;
}
.cons3_left{
	width:755px;
	float: left;
}
.cons3_left>h3{
	margin-top: 10px;
	margin-bottom: 12px;
	font-weight: normal;
	color: #363636;
	letter-spacing: 2px;
}
.cons3_left>hr{
	width: 754px;
	border: 1px dashed #D4D4D4;
}
.cons3_left p{
	width: 755px;
	font-size: 13px;
	color: #9E9E9E;
	margin-top: 11px;
	letter-spacing: 1px;
}
.cons3_right{
	width: 72px;
	height: 58px;
	border-left: 1px solid #D4D4D4;
	float: left;
	margin-left: 43px;
	margin-top: 39px;
}
.cons3_right>div{
	font-size: 42px;
	color: #D4D4D4;
	float: right;
	line-height: 40px;
}
.cons3_right>span{
	font-size: 12px;
	color: #D4D4D4;
	float: right;
	margin-right:5px; 
}
.cons4{
	width: 1053px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 69px;
	margin-bottom: 82px;
}
.cons4_left{
	width:755px;
	float: left;
}
.cons4_left>h3{
	margin-top: 10px;
	margin-bottom: 12px;
	font-weight: normal;
	color: #363636;
	letter-spacing: 2px;
}
.cons4_left>hr{
	width: 754px;
	border: 1px dashed #D4D4D4;
}
.cons4_left p{
	width: 755px;
	font-size: 13px;
	color: #9E9E9E;
	margin-top: 11px;
	letter-spacing: 1px;
}
.cons4_right{
	width: 72px;
	height: 58px;
	border-left: 1px solid #D4D4D4;
	float: left;
	margin-left: 43px;
	margin-top: 39px;
}
.cons4_right>div{
	font-size: 42px;
	color: #D4D4D4;
	float: right;
	line-height: 40px;
}
.cons4_right>span{
	font-size: 12px;
	color: #D4D4D4;
	float: right;
	margin-right:5px; 
}



.bottom{
	width: 100%;
	height: 174px;
	background-color: #B38DCA;
}
.foot{
	width: 1309px;
	height: 139px;
	margin: 0 auto;
}
.footer{
	width: 793px;
	height: 139px;
}
.footer img{
	width: 136px;
	height: 131px;
	margin-top: 15px;
	float: left;
	display: inline-block;
	vertical-align: middle;
}
.footer .prompt{
	width: 106px;
	height: 27px;
	border: 1px solid #fff;
	font-size: 15px;
	text-align: center;
	color: #fff;
	float: left;
	margin-top: 45px;
	margin-left: 18px;
}
.footcon{
	width: 640px;
	height: 90px;
	float: left;
}
.footnav{
	width: 700px;
	height: 17px;
	float: left;
}
.footnav ul{
	margin-left: 8px;
	margin-top: 15px;
}
.footnav ul li{
	width: 70px;
	height: 17px;
	font-size: 15px;
	color: #fff;
	border-right: 1px solid #fff;
	float: left;
	padding-left: 10px;
}
.footnav ul li:last-child{
	border: none;
}
.copyright{
	width: 635px;
	font-size: 15px;
	color: #fff;
	float: left;
	margin-top: 25px;
	margin-left: 17px;
}
.copyright i{
	font-variant: small-caps;
}

.coninfor{
	width: 422px;
	height: 62px;
	float: right;
	margin-top: -60px;
}
.infortel img{
	float: left;
	padding-right: 15px;
}
.infortel p{
	font-size: 25px;
	color: #fff;
	float: left;
}
.inforpic  img{
	padding-left: 30px;
	margin-top: -5px;
}