body,div,p,span,ul,li,i{
	margin: 0;
	padding: 0;
	list-style: none;
	font-style: normal;
}
a{
	text-decoration: none;
}
.top{
	width: 100%;
	height: 100px;
	background-color: #BA97CF;
}
.topi{
	width: 1203px;
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
}
.lg{
	width: 211px;
	height:65px;
	background: url(../img/mushiwei/logo.jpg)no-repeat left center;
	padding-top: 15px;
	display: inline-block;
}
.topnav{
	width: 650px;
	height: 21px;
	display: inline;
}
.topnav ul{
	float: right;
	padding-top: 40px;
}
.topnav ul li{
	width: 61px;
	font-size: 14px;
	color: #fff;
	float: left;
	margin-left: 50px;
}
.pro{
	width: 84px;
	height: 6px;
	background-color: #9F51A9; 
	float: right;
	margin-top: 93px;
	margin-right: -318px;
}
.wpap{
	width: 1920px;
	height: 616px;
	background: url(../img/mushiwei/wallpaper.jpg)no-repeat left center;
}
.product{
	width: 100%;
	height:711px;
}
.proshow{
	width: 278px;
	height: 64px;
	margin: 0 auto;
	margin-top: 50px;
	overflow: hidden;
}
.probra{
	width: 195px;
	height: 65px;
	float: left;
	overflow: hidden;
}
.probra .ps{
	font-size: 25px;
	font-weight: bold;
	float: right;
}
.probra .pt{
	font-family: "方正兰亭超细黑";
	font-size: 25px;
	float: right;
}
.bra{
	float: right;
}
.series{
	width: 688px;
	height: 39px;
	margin: 0 auto;
	margin-top: 30px;
}
.series ul li{
	width: 115px;
	height: 37px;
	border: 1px solid #B38DCA;
	border-radius: 10px;
	text-align: center;
	line-height: 37px;
	float: left;
	margin-left: 50px;
	color: #B38DCA;
}
.adv{
	width: 100%;
	height: 479px;
}
.advmod{
	width: 1529px;
	height: 405px;
	margin: 0 auto;
	margin-top: 50px;
	margin-left: 480px;
	overflow: hidden;
}
.advmod img{
	width: 303px;
	height: 405px;
}
.advmod ul li{
	float: left;
	padding-right: 25px;
}
.switch{
	width: 120px;
	height: 20px;
	margin: 0 auto;
	margin-top: 50px;
}
.switch li{
	width: 20px;
	height: 20px;
	border: 1px solid #C9C9C9;
	border-radius: 50%;
	background-color: #C9C9C9;
	float: left;
	margin-left: 15px;
}
.bottom{
	width: 100%;
	height: 174px;
	background-color: #B38DCA;
}
.foot{
	width: 1309px;
	height: 139px;
	margin: 0 auto;
}
.footer{
	width: 793px;
	height: 139px;
}
.footer img{
	width: 136px;
	height: 131px;
	margin-top: 15px;
	float: left;
	display: inline-block;
	vertical-align: middle;
}
.footer .prompt{
	width: 106px;
	height: 27px;
	border: 1px solid #fff;
	font-size: 15px;
	text-align: center;
	color: #fff;
	float: left;
	margin-top: 45px;
	margin-left: 18px;
}
.footcon{
	width: 640px;
	height: 90px;
	float: left;
}
.footnav{
	width: 700px;
	height: 17px;
	float: left;
}
.footnav ul{
	margin-left: 8px;
	margin-top: 15px;
}
.footnav ul li{
	width: 70px;
	height: 17px;
	font-size: 15px;
	color: #fff;
	border-right: 1px solid #fff;
	float: left;
	padding-left: 10px;
}
.footnav ul li:last-child{
	border: none;
}
.copyright{
	width: 635px;
	font-size: 15px;
	color: #fff;
	float: left;
	margin-top: 25px;
	margin-left: 17px;
}
.copyright i{
	font-variant: small-caps;
}
/*.coninfor{
	width: 411px;
	height: 83px;
	float: right;
}
.coninfor img{
	float: left;
	padding-left: 30px;
}
.coninfor p{
	font-size: 20px;
	color: #fff;
	float: left;
	padding-left: 30px;
}
.infortel{

	margin-bottom: 20px;
}*/
.coninfor{
	width: 422px;
	height: 62px;
	float: right;
	margin-top: -60px;
}
.infortel img{
	float: left;
	padding-right: 15px;
}
.infortel p{
	font-size: 25px;
	color: #fff;
	float: left;
}
.inforpic  img{
	padding-left: 30px;
	margin-top: -5px;
}